/static/publish/SimpTestServer/childservice


# 测试发布
/static/publish/*

# 测试子任务
/test/childservice/*

# 静态资源
/static/source/*

# 二进制
service_go

# 测试服务的tgz
servers/CalcServer/CalcServer.tar.gz

# 阿里云TEST
SimpServer.tar.gz

nginx.conf