<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 引入 Vue 2 的 CDN -->
    <script src="http://47.98.174.10/simpserver/static/source/vue.min.js"></script>
    <!-- 引入 Md5 的 CDN -->
    <script src="http://47.98.174.10/simpserver/static/source/md5.min.js"></script>
    <!-- 引入 AXIOS 的 CDN -->
    <script src="http://47.98.174.10/simpserver/static/source/axios.js"></script>
    <!-- 引入组件库 -->
    <script src="http://47.98.174.10/simpserver/static/source/element.js"></script>
    <link rel="stylesheet" href="http://47.98.174.10/simpserver/static/source/element.css">
    <style>
        .main-card, .sub-card {
            width: 200px;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        .main-card {
            background-color: #f0f0f0;
        }

        .sub-card {
            background-color: #fff;
        }
        * {
            margin: 0;
            padding: 0;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    </style>
</head>

<body>
    <div id="app">
        <el-col :span="4" style="height: 100vh;box-sizing: border-box;border-right: 1px solid #EBEEF5">
            <h1 style="color: rgb(15, 207, 121);text-align: center;font-family: fantasy;">
                <i class="el-icon-truck" style="color: rgb(15, 207, 121);font-size: 36px;"></i>Calculate
            </h1>
            <el-menu class="el-menu-vertical-demo"  active-text-color="rgb(15, 207, 121)" style="border: none">
                <el-menu-item v-for="(item,index) in serverList " :index="item" :key="index" @click="handleOpen(item)">
                    <i class="el-icon-menu"></i>
                    <span slot="title">{{item}}</span>    
                </el-menu-item>
            </el-menu>
        </el-col>
        <el-col :span="20">
            <div v-if="activeName == 'CreatePlan'">
                <el-card>
                    <el-form :model="newPlan" ref="newPlanForm" label-width="120px">
                        <el-form-item label="Name" prop="name">
                            <el-input v-model="newPlan.name" required></el-input>
                        </el-form-item>
                        <el-form-item label="Comment" prop="comment">
                            <el-input type="textarea" v-model="newPlan.comment"></el-input>
                        </el-form-item>
                        <el-form-item label="Start Time" prop="startTime">
                            <el-date-picker v-model="newPlan.startTime" type="datetime" placeholder="Select Date and Time" required></el-date-picker>
                        </el-form-item>
                        <el-form-item label="End Time" prop="endTime">
                            <el-date-picker v-model="newPlan.endTime" type="datetime" placeholder="Select Date and Time" required></el-date-picker>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="success" @click="addPlanVisible = true">Add Plan</el-button>
                            <el-button type="primary" @click="subPlanVisible = true">Add Sub Plan</el-button>
                        </el-form-item>
                    </el-form>
                </el-card>
                <el-card>
                    <el-timeline>
                        <el-timeline-item v-for="plan in subPlanList" :key="plan.id">
                            <el-card>
                                <p style="font-weight: bold;">{{ plan.name }}</p>
                                <p>Comment: {{ plan.comment }}</p>
                                <p>Start Time: {{ plan.startTime }}</p>
                                <p>End Time: {{ plan.endTime }}</p>
                            </el-card>
                        </el-timeline-item>
                    </el-timeline>
                </el-card>
                <el-dialog :visible="subPlanVisible">
                    <el-form :model="subPlan"  ref="subplan" label-width="100px">
                        <el-form-item label="Income">
                            <el-input-number v-model="subPlan.income"></el-input>
                        </el-form-item>
                        <el-form-item label="Outcome">
                            <el-input-number v-model="subPlan.outcome"></el-input>
                        </el-form-item>
                        <el-form-item label="Style">
                            <el-select v-model="subPlan.style">
                                <el-option v-for="item in PaymentFrequency" :label="item.key" :value="item.value"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="Sum">
                            <el-input-number v-model="subPlan.sum"></el-input>
                        </el-form-item>
                        <el-form-item label="StartTime">
                            <el-date-picker v-model="subPlan.startTime" type="datetime" placeholder="Select Date and Time" required></el-date-picker>
                        </el-form-item>
                        <el-form-item label="Comment">
                            <el-input v-model="subPlan.comment"></el-input>
                        </el-form-item>
                    </el-form>
                    <span slot="footer">
                        <div style="display: flex;align-items: center;justify-content: center;">
                            <el-button type="primary" @click="subPlanVisible=false">Close</el-button>
                            <el-button type="success" @click="addSubPlan()">Add</el-button>
                        </div>
                    </span>
                </el-dialog>
            </div>
            <div v-if="activeName == 'PlanList'">
                <el-card v-for="item in planList" class="card-container">
                    <div style="display: flex;">
                        <el-card class="main-card">
                            <div :style="{ 'margin-bottom': '5px', 'color': '#333' }"><span>Name: </span>{{ item.Name}}</div>
                            <div :style="{ 'margin-bottom': '5px', 'color': '#333' }"><span>Comment: </span>{{ item.Comment}}</div>
                            <div :style="{ 'margin-bottom': '5px' }"><span>StartTime: </span>{{ item.StartTime}}</div>
                            <div><span>EndTime: </span>{{ item.EndTime}}</div>
                        </el-card>
                        <el-card v-for="subItem in item.Details" class="sub-card">
                            <div :style="{ 'margin-bottom': '5px', 'color': 'red' }"><span>income: </span>{{ subItem.income}}</div>
                            <div :style="{ 'margin-bottom': '5px', 'color': 'green'}"><span>outcome: </span>{{ subItem.outcome}}</div>
                            <div :style="{ 'margin-bottom': '5px', 'font-size': '14px' }"><span>startTime: </span>{{ subItem.startTime}}</div>
                            <div :style="{ 'margin-bottom': '5px', 'font-weight': '600'}"><span>sum: </span>{{ subItem.sum}}</div>
                            <div>{{ subItem.comment}}</div>
                        </el-card>
                    </div>
                </el-card>
            </div>
        </el-col>

        <el-dialog
            title="提示"
            :visible.sync="addPlanVisible"
            width="30%"
            center>
            <span>确认添加？</span>
            <span slot="footer" class="dialog-footer">
                <el-button @click="addPlanVisible = false">取 消</el-button>
                <el-button type="primary" @click="addPlan()">确 定</el-button>
            </span>
        </el-dialog>

    </div>
    <script>
        const HttpReq = axios.create({
            // baseURL, // api的base_url
            timeout: 15000, // 请求超时时间,
            method: "post",
            baseURL:'/calcserver/'
        });
        HttpReq.interceptors.response.use(resp => {
            if(resp.data.Code != 0 ){
                console.log('resp.data.Message |',resp.data.Message);
                // this.$message.error(resp.data.Message)
            }
            return resp.data;
        })
        const API = {
            AddPlan:function(data,url="/plan/create"){
                return HttpReq({
                    url,data
                })
            },
            GetPlanList:function(data,url="/plan/list"){
                return HttpReq({
                    url,data
                })
            }
        }

        new Vue({
            el: '#app',
            data: {
                serverList:[
                    "PlanList",
                    "CreatePlan",
                ],
                newPlan: {
                    name: '',
                    comment: '',
                    startTime: '',
                    endTime: '',
                    // 这里可以继续添加计划细节的数据项
                },
                PaymentFrequency:[
                    {key:'OneTime',value:0},
                    {key:'PerDay',value:1},
                    {key:'Week',value:2},
                    {key:'Month',value:3},
                    {key:'Year',value:4},
                ],
                subPlan:{
                    income:0,
                    outcome:0,
                    style:0,
                    comment:'',
                    sum:0,
                    startTime:'',
                },
                subPlanList: [
                    // 这里可以初始化一些计划数据
                ],
                activeName:'PlanList',
                planList:[],
                subPlanVisible:false,
                addPlanVisible:false,
            },
            methods: {
                async addPlan() {
                    const body = {
                        ...this.newPlan,
                        details:this.subPlanList
                    }
                    const data = await API.AddPlan(body)
                    if(data.Code){
                        this.$message.error("Save Error" + data.Message)
                        this.addPlanVisible = false;
                        return;
                    }
                    this.addPlanVisible = false;
                    this.$message.success("Save Success")

                },
                handleOpen(item){
                    this.activeName = item;
                },
                addSubPlan(){
                    const plan = Object.assign({},this.subPlan)
                    this.subPlanList.push(plan)
                    this.$refs.subplan.resetFields();
                },
                async getPlanList(){
                    const list = await API.GetPlanList();
                    this.planList = list.Data.map(v=>{
                        v.Details = JSON.parse(v.Details)
                        return v;
                    });
                    console.log(this.planList);
                }
            },
            watch:{
                subPlanVisible:function(newVal){
                    if(!newVal){
                        if(this.$refs.subplan){
                            this.$refs.subplan.resetFields();
                        }
                    }
                },
                activeName:async function(newVal){
                    if(newVal == "PlanList"){
                        await this.getPlanList()
                    }
                }
            },
            async mounted() {
                await this.getPlanList()
            },
        });
    </script>
</body>

</html>