<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>simp</title>
    <!-- 引入 Vue 2 的 CDN -->
    <script src="/static/source/vue.min.js"></script>
    <!-- 引入 Md5 的 CDN -->
    <script src="/static/source/md5.min.js"></script>
    <!-- 引入 AXIOS 的 CDN -->
    <script src="/static/source/axios.js"></script>
    <!-- 引入组件库 -->
    <script src="/static/source/element.js"></script>
    <link rel="stylesheet" href="/static/source/element.css">
    <style>
        .like {
            cursor: pointer;
            font-size: 25px;
            display: inline-block;
        }

        * {
            margin: 0;
            padding: 0;
        }

        .flex-item {
            text-align: center;
            padding: 10px;
        }

        .el-button--primary {
            background-color: #4740ff;
            border-color: #4740ff;
        }

        .el-button--text {
            color: #4740ff
        }
        .el-button--primary:focus, .el-button--primary:hover{
            background-color: #4740ff;
            border-color: #4740ff; 
        }
    </style>
</head>

<body>
    <div id="app">
        <el-col :span="4">
            <h1 style="color: rgb(207, 15, 124);text-align: center;">
                <i class="el-icon-cherry" style="color: rgb(207, 15, 124);font-size: 36px;"></i>Simp
            </h1>
            <el-menu class="el-menu-vertical-demo"  active-text-color="rgb(207, 15, 124)">
                <el-menu-item v-for="(item,index) in serverList " :index="item" :key="index" @click="handleOpen(item)">
                    <i class="el-icon-menu"></i>
                    <span slot="title">{{item}}</span>    
                </el-menu-item>
            </el-menu>
        </el-col>
        <el-col :span="20">
            <el-card shadow="hover">
                <div style="height: 70px;display: flex;align-items: center;justify-content: space-around;">
                    <div class="flex-item">
                        <div @click="createServerVisible = true" style="color: rgb(207, 15, 124);cursor: pointer;">CreateServer</div>
                    </div>
                    <div class="flex-item">
                        <div style="font-weight: 900;">ServerCounts</div>
                        <div style="color: rgb(207, 15, 124);">{{serverList.length}}</div>
                    </div>
                </div>
            </el-card>
            <el-card shadow="hover">
                <div style="height: 70px;display: flex;align-items: center;justify-content: space-around;">
                  
                    <div class="flex-item">
                        <div style="font-weight: 900;">PackageCounts</div>
                        <div style="color: rgb(207, 15, 124);">{{packageList.length}}</div>
                    </div>
                    <div class="flex-item">
                        <div style="font-weight: 900;">ServerName</div>
                        <div style="color: rgb(207, 15, 124);">{{serverName || '--'}}</div>
                    </div>
                    <div class="flex-item">
                        <div style="font-weight: 900;">Pid</div>
                        <div style="color: rgb(207, 15, 124);">{{status.pid || '--'}}</div>
                    </div>
                    <div class="flex-item">
                        <div style="font-weight: 900;">Status</div>
                        <div style="color: rgb(207, 15, 124);">{{status.status || '--'}}</div>
                    </div>
                    <div class="flex-item">
                        <div @click="uploadVisible = true" style="color: rgb(207, 15, 124);cursor: pointer;">Upload</div>
                    </div>
                    <div class="flex-item">
                        <div @click="DeleteAllPackages()" style="color: rgb(207, 15, 124);cursor: pointer;">Remove</div>
                    </div>

                    <div class="flex-item">
                        <div @click="releaseVisible=true" style="color: rgb(207, 15, 124);cursor: pointer;">Release</div>
                    </div>

                </div>
            </el-card>
            <!-- 文件上传表单 -->
            <el-dialog append-to-body :visible="uploadVisible" width="50%" title="Release">
                <el-form :model="uploadForm" label-width="150px">
                    <el-form-item label="Server Name" required>
                        <el-input v-model="uploadForm.serverName" disabled></el-input>
                    </el-form-item>
                    <el-form-item label="File" required>
                        <el-upload :show-file-list="true" :on-change="handleFileChange" :auto-upload="false"
                            action="/upload">
                            <el-button slot="trigger" size="small">Choose File</el-button>
                        </el-upload>
                    </el-form-item>
                </el-form>
                <span slot="footer">
                    <div style="display: flex;align-items: center;justify-content: center;">
                        <el-button type="success" @click="uploadFile">Upload</el-button>
                        <el-button type="primary" @click="uploadVisible=false">Close</el-button>
                    </div>
                </span>
            </el-dialog>
            <el-dialog append-to-body :visible="configVisible" title="Server Configuration" width="60%">
                <el-form :model="config" label-width="100px">
                    <el-form-item label="Name">
                        <el-input v-model="config.Name" disabled></el-input>
                    </el-form-item>
                    <el-form-item label="Port">
                        <el-input v-model="config.Port" disabled></el-input>
                    </el-form-item>
                    <el-form-item label="Type">
                        <el-input v-model="config.Type" disabled></el-input>
                    </el-form-item>
                    <el-form-item label="Static Path">
                        <el-input v-model="config.StaticPath" disabled></el-input>
                    </el-form-item>
                    <el-form-item label="Storage">
                        <el-input v-model="config.Storage" disabled></el-input>
                    </el-form-item>
                </el-form>
                <span slot="footer">
                    <div style="display: flex;align-items: center;justify-content: center;">
                        <el-button type="primary" @click="configVisible=false">Close</el-button>
                    </div>
                </span>
            </el-dialog>

            <el-dialog append-to-body :visible="createServerVisible" title="Create Server" width="60%">
                <el-form :model="config" label-width="100px">
                    <el-form-item label="Name">
                        <el-input v-model="createServerName"></el-input>
                    </el-form-item>
                </el-form>
                <span slot="footer">
                    <div style="display: flex;align-items: center;justify-content: center;">
                        <el-button type="primary" @click="createServerVisible=false">Close</el-button>
                        <el-button type="success" @click="createServer()">Create</el-button>
                    </div>
                </span>
            </el-dialog>

            <el-dialog append-to-body :visible="releaseVisible" title="Release Server" width="60%">
                <el-select v-model="selectRelease" placeholder="请选择" style="width: 100%;">
                    <el-option
                      v-for="item in packageList"
                      :key="item"
                      :label="item"
                      :value="item">
                      <span style="float: left">{{ serverName }}</span>
                      <span style="float: right; color: #8492a6; font-size: 13px">{{ GetHash(item) }}</span>
                    </el-option>
                  </el-select>
                <span slot="footer">
                    <div style="display: flex;align-items: center;justify-content: center;">
                       <el-button type="primary" @click="releaseVisible=false">Close</el-button>
                        <el-button type="success" @click="restartServer()">Release</el-button>
                    </div>
                </span>
                  
            </el-dialog>

        </el-col>
    </div>

    <script>
        const HttpReq = axios.create({
            // baseURL, // api的base_url
            timeout: 15000, // 请求超时时间,
            method: "post",
        });
        HttpReq.interceptors.response.use(resp => {
            if(resp.data.Code != 0 ){
                console.log('resp.data.Message |',resp.data.Message);
                // this.$message.error(resp.data.Message)
            }
            return resp.data;
        })

        const API = {
            UploadServer:function(data,url="/uploadServer"){
                return HttpReq({
                    url,data
                })
            },
            RestartServer:function(data,url="/restartServer"){
                return HttpReq({
                    url,
                    data
                })
            },
            GetServerList:function(url="/getServers"){
                return HttpReq({
                    url,
                })
            },
            GetServerPackageList:function(data,url="/getServerPackageList"){
                return HttpReq({
                    url,
                    data
                })
            },
            CheckServer:function(data,url="/checkServer"){
                return HttpReq({
                    url,
                    data
                })
            },
            CreateServer:function(data,url="/createServer"){
                return HttpReq({
                    url,
                    data
                })
            },
            CheckConfig:function(data,url="/checkConfig"){
                return HttpReq({
                    url,
                    data
                })
            },
            DeleteAllPackages:function(data,url="/deleteAllPackage"){
                return HttpReq({
                    url,
                    data
                })
            },
            ShutDownServer:function(data,url="/shutdownServer"){
                return HttpReq({
                    url,
                    data
                })
            },
        }
        new Vue({
            el: '#app',
            data: {
                uploadForm: {
                    serverName: '',
                    file: null,
                },
                serverList: [],
                packageList: [],
                serverName: '',
                uploadVisible: false,
                status: {
                    pid: 0,
                    status: false,
                },
                configVisible: false,
                config: {
                    Name: "",
                    Port: 0,
                    Type: "",
                    StaticPath: "",
                    Storage: "",
                    Proxy: null,
                },
                createServerVisible:false,
                createServerName:'',
                releaseVisible:false,
                selectRelease:'',
            },
            methods: {
                handleFileChange(file) {
                    this.uploadForm.file = file.raw;
                },
                async uploadFile() {
                    const formData = new FormData();
                    formData.append('serverName', this.uploadForm.serverName);
                    formData.append('file', this.uploadForm.file);
                    const data = await API.UploadServer(formData)
                    this.uploadForm.file = null;
                    this.$notify({
                        title: 'Release Success',
                    });

                },
                async restartServer() {
                    const loading = this.$loading({
                        lock: true,
                        text: 'Loading',
                        spinner: 'el-icon-loading',
                        background: 'rgba(0, 0, 0, 0.7)'
                    });
                    const formData = new FormData();
                    formData.append('fileName', this.selectRelease);
                    formData.append('serverName', this.serverName);

                    const resp = await API.RestartServer(formData)
                    this.status = {
                        status: resp.Data.status ? 'online' : 'offline',
                        pid: resp.Data.pid
                    }
                    loading.close()
                },
                async fetchServerList() {
                    const resp = await API.GetServerList();
                    this.serverList = resp.Data || [];
                },
                async getServerPackageList(serverName) {
                    const formData = new FormData();
                    formData.append('serverName', serverName);
                    const vm = this;
                    const resp = await API.GetServerPackageList(formData)
                    vm.packageList = resp.Data || [];
                    if (vm.packageList.length) {
                        const resp = await API.CheckServer(formData)
                        const ret = resp.Data;
                        vm.status = {
                            status: ret.status ? 'online' : 'offline',
                            pid: ret.pid
                        }
                    }
                },
                async handleOpen(serverName, keyPath) {
                    this.serverName = serverName;
                    this.packageList = []
                    await this.getServerPackageList(serverName)
                    this.uploadForm.serverName = serverName;
                },
                handleClose(key, keyPath) {
                    console.log(key, keyPath);
                },
                async showConfig() {
                    const formData = new FormData();
                    formData.append('serverName', this.serverName);
                    const resp = await API.CheckConfig(formData)
                    this.config = resp.Data.Server
                    this.configVisible = true
                },
                DeleteAllPackages() {
                    if(!this.serverName){
                        this.$message.error("请先选择服务")
                        return
                    }
                    this.$confirm('此操作将永久删除所有目录, 是否继续?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(async () => {
                        const formData = new FormData();
                        formData.append('serverName', this.serverName);
                        const data = await API.DeleteAllPackages(formData)
                        this.$message({
                            type: 'success',
                            message: '删除成功!'
                        });
                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: '已取消删除'
                        });
                    });
                },
                async createServer(){
                    const formData = new FormData();
                    formData.append('serverName', this.createServerName);
                    const data = await API.CreateServer(formData)
                    this.$message({
                        type: 'success',
                        message: '添加成功!'
                    });
                },
                ReleasePackage(){

                },
                GetHash(hash){
                    return hash.split("_")[1].split(".tar.gz")[0]
                }

            },
            mounted() {
                // Fetch initial server list
                this.fetchServerList();
            },
        });
    </script>
</body>

</html>